html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    background-color: #373bad;
    color: white;
    padding: 10px 20px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput{
    border: none;
    background-color: transparent;
}

.searchInput::placeholder{
    color: lightgray;
}

.limitedOffer{
    font-size: 20px;
    border-bottom: 2px solid white;
    cursor: pointer;
    
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem{
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
}

.slider{
    background: url("/img/whiteBackground.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
}

.sliderWrapper{
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}

.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderBg{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
}

.sliderImg{
        z-index: 1;
}

.sliderTitle{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: black;
    z-index: 1;
}

.sliderPrice{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: black;
    border: 1px solid black;
    z-index: 1;
}

.buyButton{
    position: absolute;
    top: 64%;
    right: 13%;
    font-size: 30px;
    font-weight: 900;
    color: black;
    border: 1px solid black;
    background-color: white;
    z-index: 1;
    cursor: pointer;
}

.buyButton:hover{
    background-color: black;
    color: white;
}

.sliderItem:nth-child(1) .sliderBg{
    background-color: rgb(206, 221, 177);
}

.sliderItem:nth-child(2) .sliderBg{
    background-color: rgb(54, 46, 46);
}

.sliderItem:nth-child(3) .sliderBg{
    background-color: rgb(170, 145, 145);
}

.sliderItem:nth-child(4) .sliderBg{
    background-color: rgb(158, 129, 129);
}

.sliderItem:nth-child(1) .sliderPrice{
    background-color: rgb(206, 221, 177);
}

.sliderItem:nth-child(2) .sliderPrice{
    background-color: rgb(54, 46, 46);
}

.sliderItem:nth-child(3) .sliderPrice{
    background-color: rgb(170, 145, 145);
}

.sliderItem:nth-child(4) .sliderPrice{
    background-color: rgb(158, 129, 129);
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureIcon{
    width: 50px;
    height: 50px;
}

.featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.featureDesc{
    color: grey;
    width: 50%;
    height: 100px;
}

.product{
    height: 100vh;
    background-color: white;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.payment{
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;

}

.productImg{
    width: 50%;
}

.productDetails{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.productTitle{
    font-size: 75px;
    font-weight: 900;
}

.productDesc{
    font-style: 24px;
    color: grey;
}

.colors,.sizes{
    display: flex;
    margin-bottom: 20px;
}

.color{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
}

.color:last-child{
    background-color: grey;
}

.size{
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.productButton{
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.productButton:hover{
    background-color: white;
    color:black
}